.app__home{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 15;
}

.app__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 0;
    color: white;
    width: 100vw;
}
.app__header .time{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}
.app__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:99%;
    position: relative;
}
.app__footer{
    position: relative;
    bottom: 1.5rem;
    color: white;
    text-align: right;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__footer button{
    text-transform: capitalize;
    color: inherit;
    
}
.app__footer--ar{
    text-align: left;
}