body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.app__bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
}
.app__overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: .5;
}
/* html[dir='rtl'] time{
font-family: 'Original Surfer';
}
html[dir='ltr'] time{
font-family: 'Original Surfer';
} */
#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}


@font-face {
  font-family: 'Aloevera-Regular';
  src: url('https://fonts.cdnfonts.com/s/79947/Aloevera.woff');
}

@font-face {
  font-family: 'Aloevera-SemiBold';
  src: url('https://fonts.cdnfonts.com/s/79947/Aloevera.woff');
}
@font-face {
  font-family: MyriadArabic-Bold;
  src: url('https://fonts.gstatic.com/s/originalsurfer/v18/RWmQoKGZ9vIirYntXJ3_MbekzNMSC0Fu.woff2');
} 

@font-face {
  font-family: MyriadArabic--Regular;
  src: url('https://fonts.gstatic.com/s/originalsurfer/v18/RWmQoKGZ9vIirYntXJ3_MbekzNMSC0Fu.woff2');
} 